<h1 style="text-align: center">File Uploader</h1>

<div style="text-align: center" class="col d-flex">
  <form class="col-6">      
    <div class="col">
      <input type="file" name="image" (change)="selectImage($event)" />
      <button type="submit" (click)="onSubmit()">Upload</button>

    </div>
  </form>

  
    <div class="col-6" style="border-left: solid 1px #f5f5f5;">
      <h4>Get List</h4>
      <button (click)="getImage()" class="button btn btn-info">Get</button>
      <p *ngFor="let img of list.imageList">
        <a target="_blank" href="{{img}}">{{img}}</a>
      </p>
      
    </div>
  
  
</div>